
.root {
    -fx-background-color: #9fd8ed;
}
.top {
    -fx-alignment: CENTER_LEFT;
    -fx-pref-height: 40;
    -fx-padding: 40;
}
.center {
    -fx-alignment: CENTER_LEFT;
    -fx-pref-height: 470;
    -fx-pref-width: 530;
    -fx-padding: 40;
}
.bottom {
    -fx-alignment: CENTER_LEFT;
    -fx-pref-height: 60;
    -fx-padding: 40;
}
.pane {
    -fx-pref-height: 560;
    -fx-pref-width: 285;
}
.h1 {
    -fx-font-size: 22;
    -fx-text-fill: #000;
    -fx-font-weight: 800;
}
.h2 {
    -fx-font-size: 32;
    -fx-font-weight: 800;
}
#actionTargetSolved{
    -fx-text-fill: red;
}
#actionTargetLoad{
    -fx-text-fill: green;
}



.tableBoard {
    -fx-pref-height: 245;
    -fx-pref-width: 210;
}

#listViewLoad {
    -fx-pref-height: 35;
    -fx-pref-width: 450;
}
#onLoad {
    -fx-border-insets: 20;
}
